@keyframes shake {
	0% {
	  transform: rotate(0deg);
	}
	20% {
	  transform: rotate(-20deg);
	}
	40% {
	  transform: rotate(20deg);
	}
	60% {
	  transform: rotate(-10deg);
	}
	80% {
	  transform: rotate(10deg);
	}
	100% {
	  transform: rotate(0deg);
	}
  }
  html, body {
	height: 100%;
  }
  body {
	background-color: #002b7f;
	display: flex;
	align-items: center;
  }
  main {
	text-align: center;
	margin: 0 auto;
	max-width: 48em;
	max-height: 100%;
  }
  .present {
	position: relative;
	display: inline-block;
	width: 12em;
	height: 12em;
	margin: 0.5em;
	perspective: 850px;
	z-index: 666;
  }

  .present_nohover {
	position: relative;
	display: inline-block;
	width: 12em;
	height: 12em;
	margin: 0.5em;
	perspective: 850px;
	z-index: 666;
  }

  .present__pane, .present__content {
	width: inherit;
	height: inherit;
  }
  .present__pane {
	position: relative;
	background: linear-gradient(135deg, #ff816b 50%, Tomato 50%);
	transform-style: preserve-3d;
	transform-origin: 0;
	perspective: 850px;
	text-align: center;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: all 0.2s ease-out;
  }
  .present__date {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2.4em;
	height: 2.4em;
	margin: 0;
	font-size: 2em;
	line-height: 2.4em;
	background: #fcd116;
	color: white;
	border-radius: 50%;
	box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
  }
  .present:hover {
	z-index: 999;
  }
  .present:hover .present__pane {
	background: linear-gradient(135deg, #ff8e7a 50%, #ff7961 50%);
	transform: rotateY(-97deg);
	perspective-origin: 0;
	transition: all 0.25s ease-in;
  }
  .present:hover .present__date {
	backface-visibility: hidden;
  }
  .present:hover .present_text {
	display: inline-block;
	transform-origin: 50% 0;
	animation: shake 0.7s;
  }
  .present__content {
	position: absolute;
	top: 0;
	left: 0;
	background: #ce1126;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15), inset 0 0 30px 20px rgba(0, 0, 0, 0.15);
	z-index: -1;
  }
  .present_text {
	position: relative;
	width: 2;
	height: 2;
	margin: 25% auto 0 auto;
	font-size: 2em;
	line-height: 2.6666666667em;
  }
